    @font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }

nav 	{
	font:	italic
		bold
		1.5em/1.5
		"Helvetica Nenue", Arial, sans-serif;
	color:green;
	background:yellow;
	}

body	{
	color: #31A2EC;
}
