    @font-face {
      font-family: "Bitstream Vera Serif Bold";
      src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
    }

@media screen and (min-width:1001px) {
	body 	{
		padding-left:5px;
		}
	}

nav 	{
	font:	italic
		bold
		1.5em/1.5
		"Bitstream Vera Serif Bold", Arial, sans-serif;
	color:green;
	background:yellow;
	animation-name: example;
    	animation-duration: 4s;
	}

@keyframes example {
    from {background-color: yellow;}
    to {background-color: orange;}
}	

body	{
	color: black;
	background: -webkit-linear-gradient(top, #cfe7fa 0%,#6393c1 100%);
	}

p:first-letter	{
		font-size:1.5em;
		float:left;
		}

p {
	transform:rotate(5deg);
	transition: font-weight 5s;
	width: 500px;
}

p:hover {
	font-weight: bold;
}

a:link	{
	color: blue;
	}

a:hover	{
	color:hotpink;
	}

a:visited {
    color:brown;
	}

img	{
	display:inline-block;
}

img	{
	padding: 5px;
	}

img	{
	max-width:100%;
	height:auto;
	}

#arrow {
	overflow:hidden;
	border:20px solid rgba(0,0,0,0);
	height:0;
	width:0;
	border-left-color: blue;
}
